{% assign featuredproduct = collections[settings.frontpage_collection].products.first %}

{% if featuredproduct.handle != blank  %}
<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <div class="previewImage_container">
        <img src="{{ featuredproduct.featured_image | product_img_url: 'grande' }}" alt="{{ featuredproduct.title }}" />
        <hr class="top" />
        <hr class="bottom" />
        <div class="copy date">{{ featuredproduct.title }}</div>
        <div class="copy title">{{ featuredproduct.title }}</div>
        <div class="copy availability">Available for <span>--</span> more days</div>
        <a href="{{ featuredproduct.url }}" class="button action">See Poster</a>
        <div class="blackscreen"></div>
      </div>
    </div>
  </div>
</div>
{% endif %}

{% include 'we-are-posters' %}

{% include 'fundedhours' %}

<div id="press-section" style="background-image: url({{ 'presssat.png' | asset_url }})">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <ul>
          {% for article in blogs["press"].articles limit: 7 %}
            <li><a href="{{ article.title }}">{{ article.content }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="archive-border" style="background-image: url({{ 'archiveborder.png' | asset_url }})"></div>