{% assign featuredproduct = collections[settings.frontpage_collection].products.first %}

{% if featuredproduct.handle != blank  %}
<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <div class="previewImage_container">
        <img src="{{ featuredproduct.featured_image | product_img_url: 'grande' }}" alt="{{ featuredproduct.title }}" />
        <hr class="top" />
        <hr class="bottom" />
        <div class="copy date">{{ featuredproduct.title }}</div>
        <div class="copy title">{{ featuredproduct.title }}</div>
        <div class="copy availability">Available for <span>--</span> more days</div>
        <a href="{{ featuredproduct.url }}" class="button action">See Poster</a>
        <div class="blackscreen"></div>
      </div>
    </div>
  </div>
</div>
{% endif %}

{% include 'we-are-posters' %}

<div id="mission-section" style="background-image: url({{ 'missionbg.png' | asset_url }})">
    <hr class="top" />
    <h2 class="mission-title">The Posters Has Funded</h2>
    <h3 class="shadow-header-inverted">1,276,468 Hours</h3>
    <h2 class="mission-footer">Of Art Class (And Counting!)</h2>
    <p><a href="/pages/mission" class="btn btn-default">Learn More About Our Mission</a></p>
    <hr class="bottom" />
</div>

<div id="press-section" style="background-image: url({{ 'presssat.png' | asset_url }})">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <ul>
          {% for article in blogs["press"].articles limit: 7 %}
            <li><a href="{{ article.title }}">{{ article.content }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>
