<div class="container">
<div class="row">
  <div class="help-tabs col-sm-8 col-sm-offset-2">
	  <ul>
	  {% for link in linklists.help-navigation.links %}
		<li>
			<a href="{{ link.url }}" class="{% if link.active %}current{% endif %}"><span>{{ link.title }}</span></a>
		  </li>
	  {% endfor %}
	  </ul>
  </div>
</div>
<div class="row">
  <div class="col-sm-2">
  	<a href="#" class="help-arrow arrow-left" style="background-image: url({{ 'helparrowsprite.png' | asset_url }})"></a>
  </div>
  <div class="col-sm-8">
	<div class="row">
		<div class="col-sm-12">
			<h1 class="shadow-header section-header">{{ page.title }}</h1>
		</div>
		<div class="col-sm-4">
			{{ page.content }}
		</div>
		<div class="col-sm-8">
			<div class="page-with-contact-form">            
				{% form 'contact' %}
				{% if form.posted_successfully? %}
				<div class="successForm feedback">
				  <p>Thanks for contacting us! We'll get back to you as soon as possible.</p>
				</div>
				{% endif %}

				{% if form.errors %}
				<div class="errorForm feedback">
				  <p>Oops, sorry. We were unable to submit your inquiry because it contained {{ form.errors | size | pluralize: 'an error', 'a few errors' }}. Please correct the following and submit again:</p>
				  {% for field in form.errors %}
					<p>The {{ field | capitalize | replace: 'Body', 'Message' }} field {{ form.errors.messages[field] }}.</p>
				  {% endfor %}
				</div>
				{% endif %}

				<div id="contactFormWrapper">
				  <p>
					<label>Your Name:</label><br/>
					<input type="text" id="contactFormName" name="contact[name]" placeholder="John Doe" />
				  </p>
				  <p>
					<label>Email:</label><br/>
					<input type="email" id="contactFormEmail" name="contact[email]" placeholder="john@example.com" />
				  </p>
				  <p>
					<label>Phone Number:</label><br/>
					<input type="telephone" id="contactFormTelephone" name="contact[phone]" placeholder="555-555-1234" />
				  </p> 
				  <p>
					<label>Message:</label><br/>
					<textarea rows="15" cols="75" id="contactFormMessage" name="contact[body]" placeholder="Your Message"></textarea>
				  </p>
				  <p>
					<input type="submit" id="contactFormSubmit" value="Send" class="btn" />
				  </p>
				</div>
				{% endform %}
			  
			</div>
		</div>
	</div>
  </div>
  <div class="col-sm-2">
  	<a href="#" class="help-arrow arrow-right" style="background-image: url({{ 'helparrowsprite.png' | asset_url }})"></a>
  </div>
</div>

</div>
</div>

<div class="archive-border" style="background-image: url({{ 'archiveborder.png' | asset_url }})"></div>

<script type="text/javascript">
  $(document).ready(function() {
	var currentLink = $('.help-tabs').find('.current');
	var prevLink = currentLink.closest('li').prev().find('a');
	if(!prevLink.length) {
	  prevLink = $('.help-tabs').find('li').last().find('a');
	}

	var nextLink = currentLink.closest('li').next().find('a');
	if(!nextLink.length) {
	  nextLink = $('.help-tabs').find('li').first().find('a');
	}

	$('.arrow-left').attr('href', prevLink.attr('href'));
	$('.arrow-right').attr('href', nextLink.attr('href'));
  });
</script>