<div class="container">
	<div class="row">
		<div class="help-tabs col-sm-8 col-sm-offset-2">
			<ul>
			{% for link in linklists.help-navigation.links %}
				<li>
		    		<a href="{{ link.url }}" class="{% if link.active %}current{% endif %}"><span>{{ link.title }}</span></a>
		  		</li>
			{% endfor %}
			</ul>
		</div>

		<div class="help-section col-sm-8 col-sm-offset-2">

			<h1 class="shadow-header section-header">{{ page.title }}</h1>

			{{ page.content }}

		</div>
	</div>
</div>

<div class="archive-border" style="background-image: url({{ 'archiveborder.png' | asset_url }})"></div>