<div class="footer">
 <footer>

        <!-- Begin newsletter -->
        <div class="newsletter-bar">
          <form action="{{ settings.mailing_list_form_action }}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank">
            <input type="email" value="" placeholder="Enter your email to subscribe to our monthly newsletter" name="EMAIL" id="mail" /><input type="submit" class="btn newsletter" value="Subscribe" name="subscribe" id="subscribe" />
          </form>
        </div>
        <!-- End newsletter -->

        <!-- Begin social -->
          <div class="social-links">
            <h4>{{ settings.footer_social_title }}</h4>
            <a href="{{ settings.facebook_link }}" title="{{ shop.name }} on Facebook" class="icon-social facebook">Facebook</a>
            <a href="{{ settings.twitter_link }}" title="{{ shop.name }} on Twitter" class="icon-social twitter">Twitter</a>
            <a href="{{ settings.instagram_link }}" title="{{ shop.name }} on Instagram" class="icon-social instagram">Instagram</a>
            <a href="{{ settings.tumblr_link }}" title="{{ shop.name }} on Tumblr" class="icon-social tumblr">Tumblr</a>
          </div>
        <!-- End social -->

        <ul class="footer-links clearfix">
            <li>
                &copy; {{ 'now' | date: "%Y" }} {{ shop.name }}
            </li>
            {% for link in linklists.footer.links %}
              <li><a href="{{ link.url }}" title="{{ link.title }}">{{ link.title }}</a></li>
            {% endfor %}
        </ul>

 </footer>
  
</div>

