{% capture collection_handle %}
  {{ product-loop | handleize }}
{% endcapture %}
{% capture url %}
  {% if collection_handle != "" %}
    /collections/{{ product-loop }}{{ product.url }}
  {% else %}
    {{ product.url }}
  {% endif %}
{% endcapture %}

<<<<<<< HEAD
<div class="product">  
=======
<div class="product" data-expdate="{{product.metafields.visibility.expirationdate}}">  
>>>>>>> 167cead... ..
  <div class="image">
    <a href="{{ url }}">
      <img src="{{ product.featured_image | product_img_url: 'large' }}" alt="{{ product.title | escape  }}" />
    </a>
  </div>
  <div class="details">
    <a href="{{ url }}">{{ product.title }}</a>
<<<<<<< HEAD
=======
    {% if product.metafields.visibility.expirationdate %}
      <div class="availability">Available for <span class="days-remaining">--</span> more days</div>
    {% endif %}
>>>>>>> 167cead... ..
  </div>
</div>