<div class="we-are-posters-section">
  
  <h2>We are the posters</h2>
  
  <div class="we-are-posters-content">
    <div class="video-container">
      <iframe width="560" height="315" src="//www.youtube.com/embed/agclaZQGXHE" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="social-links">
      <span>
        <a href="{{ settings.facebook_link }}" title="{{ shop.name }} on Facebook" class="icon-social facebook">Facebook</a>
        <a href="{{ settings.twitter_link }}" title="{{ shop.name }} on Twitter" class="icon-social twitter">Twitter</a>
        <a href="{{ settings.google_plus_link }}" title="{{ shop.name }} on Google+" class="icon-social google-plus">Instagram</a>
        <a href="{{ settings.email_link }}" title="Share link by email" class="icon-social email">E-mail</a>
      </span>
    </div>
  </div>
  
</div>